body{
    font-family: Verdana, Arial, Helvetica;
}

.highlight-red {
    font-weight: bold;
    color: red;
}			

.highlight-blue {
    font-weight: bold;
    color: lightblue;
}			

.highlight-white {
    font-weight: bold;
    color: white
}

.highlight-pink {
    font-weight: bold;
    color: lightpink
}

.highlight-purple {
    font-weight: bold;
    color: #c19ad0
}

.orange {
    font-weight: bold;
    color: #d05a1b
} 
.instruction {
    font-size: 14px;
    font-style: italic;
}

.main-heading, .container, .footer {
    width: 500px;
    /* margin value of auto places the content in the center */
    padding: 5px;
    margin: auto;
    color: #d05a1b
}

.container {
    display: table;
    border: 0.5px solid #a3b9c2;
}

.ralign {
    /*display: flex; 
    justify-content: flex-end;*/
    float:right;
}
        
img {
    float: left;
    padding: 10px;
}

table td { 
    width: 10em; 
    border: 0.5px solid #ffffff;
    font-weight: bold;
}

html {background-color: #242729}

table td { 
    width: 10em; 
    border: 0.5px solid #91c0ca;
    font-weight: bold;
}

.row {
  display: flex;
  width: 100%;
}

.row div {
  width: 50%;
}

.noMargin {
  margin: 0px;
}

.navbar {
  overflow: hidden;
  background-color: #161618;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} 

/* .dropdown a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #d05a1b;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}