<html>
<head>
    <title>Student CCA Portal Add page</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
</head>

<body>
    {% include 'header.html' %}
    <div class='container'>
    <span class='highlight-blue'>{{title}}</span>
    <br>
        
    {% if page_type == 'new' %}
    <form action='{{form_meta["action"]}}' method='{{form_meta["method"]}}'>
    </br>
        <select name='choice'>
            {% for item in choices %}
            <option value = "{{item}}">{{item}}</option>
            {% endfor %}
        </select>
    <br>
        <input type='submit' value='Submit'>
    </form>
    {% endif %}   

    {% if page_type == 'form' %}
    <br>
    
    <form action='{{form_meta["action"]}}' method='{{form_meta["method"]}}'>
        
    {% for key, value in form_data.items() %}
    <tr>
        <td><span class='highlight-pink'><label for='{{key}}'>{{key}}:</label></span></td>
        <td><input id='{{key}}' type='{{tdtype}}' name='{{key}}' value='{{value}}'><span class='highlight-purple'>{{value}}</span></td>
    </tr>
    <br>   
    {% endfor %}
        
    <input type='submit' value='{{button}}'>     
        
    </form>
    {% endif %}

    {% if page_type == 'success' %}
        <br>
    {% for key, value in form_data.items() %}
    <tr>
        <td><span class='highlight-pink'>{{key}}:</span></td>
        <td><span class='highlight-purple'>{{value}}</span></td>
    </tr>
    <br>    
    {% endfor %}
    {% endif %}


    {% include 'footer.html' %}
    </div>
        
</body>
</html>