<html>
<head>
    <title>Student CCA Portal Add page</title>
    {% include "head.html" %}
</head>

<body>
    {% include 'header.html' %}
    <div class='container'>
    <span class='highlight-purple'>{{title}}</span>
    <br>
        
    {% if page_type == 'new' %}
    <form action='{{form_meta["action"]}}' method='{{form_meta["method"]}}'>
    </br>
        <div class='custom-select'>
        <select name='choice'>
            {% for item in choices %}
            <option value = "{{item}}">{{item}}</option>
            {% endfor %}
        </select>
        </div>
    <br>
        <input type='submit' value='Submit'>
    </form>
    {% endif %}    

    {% if page_type == 'form' %}
    
    <form action='{{form_meta["action"]}}' method='{{form_meta["method"]}}'>
    <table>
    {% for key, value in form_data.items() %}
    <tr>
        <td><span class='highlight-pink'><label for='{{key}}'>{{key}}:</label></span></td>
        <td><input id='{{key}}' type='{{tdtype}}' name='{{key}}' value='{{value}}'><span class='highlight-purple'>{{value}}</span></td>
    </tr>   
    {% endfor %}
    <br>
    </table>
    <br>
    <input type='submit' value='{{button}}'>     
        
    </form>
    {% endif %}

    {% if page_type == 'success' %}
        <br>
    {% for key, value in form_data.items() %}
    <tr>
        <td><span class='highlight-pink'>{{key}}:&nbsp;</span></td>
        <td><span class='highlight-purple'>{{value}}</span></td>
    </tr>
    <br>    
    {% endfor %}
    {% endif %}


    </div>
        
</body>
</html>